body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: chartreuse;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 35px;
    border: 3px solid #ffffff;
    border-radius: 20px;
    background-color: #f5f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #161515;
    align-items: start;
}

img{
    border-radius: 10px;
    width:300px;
    height:100px;
    margin-left: 20px;
    
}

.cipher-options {
    display: flex;
    flex-direction: column;
}

.cipher-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #0074d9;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.cipher-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.cipher-button:focus {
    outline: none;
}

